*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}
.footer{
  margin-top: 150px;
}
h2{
  color: #fff;
}
.header {
  /* background : linear-gradient( to right , #e4e7e4, #08203e); */
  background-color: #fca311;
  width: 100%;
  margin: 0%;
  padding-inline: 30px;
}
.header h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color : rgb(22, 167, 224)
}
.footerText {
  color: #fff !important;
}
.hero {

  display: flex;
  width: 100%;
  min-width: 400px;
  /* height: 400px; */
  flex-wrap: wrap;
  border-radius: 10px;
 
  gap: 10px;
  align-items: center;
  justify-content: center;
/* background-color: #FFF; */

  background-repeat: no-repeat;
  background-size :cover;
  background-position: center;

}
.product-image{
  object-fit: contain;
  height: 50%;
  object-position: center;
 
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
}
.product-body{
  text-align: center;
}
.productImagesContainer{
  background : linear-gradient( to bottom right , #f4a261 , transparent);
  border-radius: 10px;
}
.productDetailsImage{
  height: 400px;
  object-fit: contain;
  border-radius: 10px;
}
.cartContainer {
  margin-inline: 40px;
  /* margin-top: -60px; */
  background-color: #ffffff57;
  border-radius: 10px;
}
.wishListButtons{
  width: 150px;;
  justify-content: right;
  gap: 5%;
  display: flex;
  width: 100%;
  margin-bottom: 1%;
}
.wishListButton{
  height: 40px;
  
}
.login {
  margin-inline: 40px;
}
.loginButtons {
  justify-content: space-around;
  display: flex;
}
.HeroCrousal{
 height:400px;
 width: 100%;
 background-color: transparent;
 margin-bottom: 4%;
 background : linear-gradient( to right , transparent , #6096ba, transparent );
}
.HeroCrousalImage  {
object-fit: contain;
height: 10;
width: 100%;
background-color: transparent;
border-radius: 60px;

}

/* .lightTheme {
  background-color: #cbf3f0;
} */
.theme{
  height:  fit-content;
  background-repeat: no-repeat;
  background-color: #22577a;

  
}

.cartBody {
  background: linear-gradient( to bottom right ,#145277 , #9fccfa);
  border: none;
}



